body{
  background-color: #9ACD32;
  font-family: Pacifico;
}
img {
  width: 300px;
}



h1{
background-color:#F0FFFF;
text-align:center;
color:#00008B;
font-size:50px;
font-style:italic;
}

h2{
font-weight:bold;
text-align:center;
}

p{
font-size:18px;
text-align:center;
}

img {
  display: block;
  margin: 0 auto;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.images-container img {
  width: 180px;
}
