body{
  background-color: #9ACD32;
  font-family: Pacifico;
}
img {
  width: 300px;
}



h1{
background-color:#F0FFFF;
text-align:center;
color:#00008B;
font-size:50px;
font-style:italic;
}

h2{
font-weight:bold;
text-align:center;
}

p{
font-size:18px;
text-align:center;
}

img {
  display: block;
  margin: 0 auto;
}

.images-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}
